
{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <main>
        <div>
            <a href="{% url 'create_categories' %}">Create New Category</a>
        </div>
        <div>
            <h1>My Categories</h1>
            {{expensecategory.all}}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
                <tbody>
                    {% for item in expensecategory_list %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.receipts.all | length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
{% endblock content %}