{% extends 'base.html'%}
{% load static %}
{% block content %}

<main>
    <div>
        <h1>My Accounts</h1>
        {{receipts.all}}
        <table>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipt</th>
            </tr>
            <tbody>
                {% for account in account_list %}
                <tr>
                    <td>{{account.name}}</td>
                    <td>{{account.number}}</td>
                    <td>{{account.receipts.all | length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}