
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Login</title>
</head>
<body>
    <main>
        <h1>Login</h1>
        <div>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
                <!-- <input type="text" name="username"><br><br>
                <input type="password" name="password"><br><br> -->
                <button>Login</button>
            </form>
        </div>
    </main>
</body>
</html>
{% endblock content %}

