{% extends 'base.html' %}
{% block content %}
<body>
    <main>
        <div>
            <form method="post">
                <h1>Create Receipt</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>    
</body>
</html>
{% endblock content %}